$bgColor: #ffffff;
$titleFontColor:#ffffff;
$headerFontColor:#ffffff;
$textGategories:rgb(155, 155, 155);
$textAuthors:rgb(95, 95, 95);
$btnColor:#ffffff;
$btnBg:#014589;
$black:#000000;
$bgDescriptionBookImg:rgb(235, 235, 235);