.header{
    background-image: url('../../assets/img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    &__title{
        text-transform: uppercase;
        text-align: center;
        color:$titleFontColor;
        padding-bottom: 15px;
        z-index: 1;
        margin: 0 10px;
    }
    &__input{
        display: flex;
        justify-content: center;
        width: 70%;
        z-index: 1;
        position: relative;
    }
    &__filters{
        display: flex;
        gap: 25px;
        // width: 50%;
        color:$headerFontColor;
        z-index: 1;
    }
}
.header:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
}

.header__title-text{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}
.input:focus{
    outline: none;
}
.input{
    // background-image: url("../../assets/img/searchIcons.png");   
    // background-repeat: no-repeat; 
    // background-position: 98% center; 
    // background-size: auto 50%;
    width: 100%;
    padding: 10px 5px;
    border: none;
    font-size: 26px;
}

.header__btn{
    position: absolute;
    width: 50px;
    height: 100%;
    background-image: url("../../assets/img/searchIcons.png"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 50% 50%;
    // padding: 10px;
    right: 0;
    top:0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.header__categories{
    display: flex;
    gap: 15px;
}
.header__categories-text{
    font-size: 22px;
    font-weight: 500;
}
.categories__select-field{
    width:200px;
}
@media(min-width:320px) and (max-width:780px){
    .header__filters{
        flex-direction: column;
        align-items: center;
    }
    .input{
    font-size: 22px;
    }   
    .header__categories{
        display: flex;
        flex-direction: column;
    }
}
@media(min-width:1280px){
    .header__filters{
    }
    .input{
    font-size: 22px;
    }   
}